<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            margin: 0;
        }

        h2 {
            color: #048ABF;
            margin-bottom: 10px;
        }

        #app {
            border: 1px solid #027368;
            margin-top: 50%;
            padding: 10px 0 0 83px;
        }

        li {
            margin-top: 10px;
            color: #027368;
        }

        ul li button {
            color: #F25116;
            background-color: #fff;
            border: none;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <div id="app">
                    <h2>Todolist</h2>
                    <input v-model="newTodo" v-on:keyup.enter="addTodo" placeholder="Key in here" />
                    <ul>
                        <li v-for="todo in todoList">
                            <span>{{todo.text}}</span>
                            <button v-on:click="removeTodo($index)">X</button>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-sm">

            </div>
        </div>
    </div>


    <script>
        var app = new Vue({
            el: "#app",
            data: {
                newTodo: "",
                todoList: [
                    { text: "do the laundry" }
                ]
            },
            methods: {
                addTodo: function () {
                    var text = this.newTodo.trim();
                    if (text) {
                        this.todoList.push({ text: text });
                        this.newTodo = "";
                    }
                },
                removeTodo: function (index) {
                    this.todoList.splice(index, 1);
                }
            }
        })
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</body>

</html>